*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}

button{
  border: none;
  background: none;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
.header{
  background: url(../img/header-bg.jpg) no-repeat center/cover;
  height: 100vh;
  &__container{
    position: relative;
    height: 100vh;
  }
  &__row{
    position: relative;
    padding-top: 55px;
  }
  &__logo{
    z-index: 10000;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%) rotate(0deg);
    transition: 1s;
  }
  @media (max-width: 800px){
    &__logo{
      left: 0;
      transform: translate(0) rotate(0deg);
      &.active{
        transform: translate(0) rotate(360deg);
      }
      img{
        width: 80px;
      }
    }
  }
  &__title{
    margin-top: 226px;
    p{
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-align: center;
    }
    h1{
      font-family: Banny;
      font-size: 96px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
      &:after{
        content: '';
        display: block;
        width: 60px;
        border-radius: 50px;
        height: 5px;
        background: #E8C300;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 1000px){
    &__title{
      margin-top: 200px;
      h1{
        font-size: 46px;
        &:after{
          content: '';
          display: block;
          width: 60px;
          border-radius: 50px;
          height: 5px;
          background: #E8C300;
          margin: 0 auto;
        }
      }
    }
  }
  @media (max-width: 485px){
    &__title{
      margin-top: 150px;
    }
  }
  &__social{
    position: absolute;
    right: 10px;
    top: 40%;
  }
    @media (max-width: 640px){
      &__social{
        display: none;
      }
    }
  &__battons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .btn{
      margin: 0 20px;
      &:nth-child(1){
        background: #E8C300;
      }
      &:nth-child(2){
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
  &__down-btn {
          animation-duration: 1s;
          animation-iteration-count: infinite;
          position: absolute;
          left: 50%;
          bottom: 5vh;
      }
  .bounce-2 {
          animation-name: bounce-2;
          animation-timing-function: ease;
      }
      @keyframes bounce-2 {
          0%   { transform: translate(-50%, 0); }
          50%  { transform: translate(-50%, 10px); }
          100% { transform: translate(-50%, 0); }
      }
  &__aside{
    position: absolute;
    top: 40%;
    p{
      writing-mode: tb-rl;
      transform:rotate(180deg);
      font-weight: bold;
      font-size: 12px;
      color: #fff;
    }
  }
    @media (max-width: 500px){
      &__aside{
        position: absolute;
        bottom: 10px;
        top: auto;
        text-align: center;
        p{
          writing-mode: horizontal-tb;
          transform:none;
          text-align: center;
        }
      }
    }
}
.menu{
  z-index: 100;
  &__body{
    transition: .3s;
  }
  &__list{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    li{
      width: 130px;
      text-align: center;
      &:nth-child(4){
        margin: 0 45px 0 0;
      }
      &:nth-child(5){
        margin: 0 0 0 45px;
      }
    }
  }
  &__social{
    display: none;
  }
}
@media (max-width: 800px){

  .menu{
    &__body{
      position: fixed;
      top: 0;
      left: -100%;
      background: #2a0101;
      width: 100%;
      height: 100vh;
      z-index: 10;
      &.active{
        left: 0%;
      }
    }
    &__list{
      display: block;
      margin: 65px 0 auto;
      font-size: 22px;
      li{
        margin: 35px 0;
        width: auto;
        &:nth-child(4){
          margin: 35px 0;
        }
        &:nth-child(5){
          margin: 35px 0;
        }
      }
    }
    &__social{
      display: flex;
      justify-content: center;
      li{
        margin: 0 5px;
      }
    }
  }


  .icon-menu{
    z-index: 30;
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 20px;
    &::before, &::after{
      content: '';
      background: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
    }
    &::before{
      top: 0;
      transition: .3s;
    }
    &::after{
      bottom: 0;
      transition: .3s;
    }
    span{
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: .3s;
    }
    &.active{
      position: fixed;
      &::before, &::after{
        background: #fff;
      }
      &::before{
        transform: rotate(45deg);
        top: 9px;
      }
      &::after{

        transform: rotate(-45deg);
        bottom: 9px;
      }
      span{
        transform: scale(0);
      }
    }
  }
}

.social{
  &__list{
    li{
      margin: 10px 0;
    }
  }
}
.btn{
  width: 200px;
  height: 60px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
